html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Philosopher', sans-serif;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}

span {
  display:inline-block;
  width:30%;
  border:2px solid black;
  vertical-align: text-top;
  font-size:.75em;
}

#instructions {
  width: 40%;
  margin-left:30%;
}

#char {
  margin-top: 20px;
}

#spells {
  padding-top: 20px;
}

#character {
  padding-top: 20px;
}